

body{
    background-image: url("./images/Allshapes.jpg");
    background-position: right;
    /* background-repeat: no-repeat; */
    font-size: 1em;
    font-weight: 700;
    /* background: #33313B; */
    /* border:double snow 1em;
    width: auto;
    height: auto; */
    /* background-size: cover; */
    /* border: solid 1.5em black; */
}
/* div{ */
   
    /* background-color: black; */
    /* background-image: url("./images/Allshapes.jpg");  */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* align-items: center; */
    /* border: solid 1em black; */
/* } */
#instruction{
height: 200px;
width: 500px;
background:#2b3595;
color: whitesmoke;
font-size: 2em;
font-weight: 500;
margin: 0px 100px 0px 500px;
border: solid 0.2em black;

}
#instruction ul li{
    /* list-style: none; */
    /* text-align: center;
    justify-content: center; */
}
h3
{
    text-align: center;
    
}

p{ 
    width: 700px;
    height: 110px;
    background: #0a065d;
    /* rgb(11, 91, 128); */

    color: whitesmoke;
    text-align: center;
    font-size: 5em;
    align-items: center;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 350px;
    margin-top: 50px;
    border: double 0.5em whitesmoke;
}

.start-button{
    width: 400px;
    height: 150px;
    font-size: 4em;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    background: rgb(119, 127, 153);
    color: whitesmoke;
    
    margin: 50px 0px 100px 550px;
}


