 #image {
   height: 350px;
   left: 40%;
   position: absolute;
   top: 5%;
   width: 400px;
   border:#594a4e 1em ;
   border-style: outset;
}

#box{
    height: 200px;
    width: 200px;
    /* background-color: red;
    position: relative; */
    display: none;
} 


div{
  text-align: right;
  top: 10px;
  right: 30px;
  font-size: 1.5em;
  position:absolute;
  width: 400px;
}

#score{
  text-align: right;
  top: 40px;
  right: 30px;
  font-size: 1.8em;
  position:absolute;
  width: 400px;
}
input{
  margin-top: 100px;
  width: 170px;
  height: 70px;
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  color: black;
  background:#1b335f;
}
body{
  background:#f9f9f9;
  background-origin: padding-box;
}